<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://el-sabor-de-nuestra-tierra.000webhostapp.com/Images-Parqueadero/icono.png"
        type="image">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>welcome</title>
</head>

<body class=" bg-fixed bg-cover bg-center bg-no-repeat h-768 w-full  lg:p-8"
    style="background-image: url(https://el-sabor-de-nuestra-tierra.000webhostapp.com/Images-Parqueadero/parqueadero2.jpg)">


    <div id="componentes">

        <div class="w-full lg:w-3/12 bg-white p-5 rounded-lg lg:rounded-l-none">
            <li class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200  "
                style="color: rgb(13, 92, 238); font-family: 'Times New Roman', Times, serif;
                   font-size: 20pt;  border-color: chartreuse;" @click="mostrar=1">TARIFAS</li>

            <li class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
            style="color: rgb(13, 92, 238); font-family: 'Times New Roman', Times, serif;
            font-size: 20pt;  border-color: chartreuse;" @click="mostrar=2">
            LOGIN</li>   

            <li class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
                style="color: rgb(13, 92, 238); font-family: 'Times New Roman', Times, serif;
                   font-size: 20pt;  border-color: chartreuse;" @click="mostrar=3">
                REGISTRO</li>

                <li class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
                style="color: rgb(13, 92, 238); font-family: 'Times New Roman', Times, serif;
           font-size: 20pt;  border-color: chartreuse;" @click="mostrar=4">
                LUGARES</li>

                <li class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
                style="color: rgb(13, 92, 238); font-family: 'Times New Roman', Times, serif;
           font-size: 20pt;  border-color: chartreuse;" @click="mostrar=5">
                FACTURA</li>

               

        </div>


        <tarifa v-if="mostrar==1"></tarifa> 
        <login v-if="mostrar==2"></login>
        <registro v-if="mostrar==3"></registro>
        <lugares v-if="mostrar==4"></lugares>
        <factura v-if="mostrar==5"></factura>

    </div>
    




</body>



<script src="../js/vue.js"></script>
<!-- <script src="../HTML/factura.js"></script> -->
<script src="../js/components.js"></script>

<script src="../js/sweetalert2@11"></script>

</html>