<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://el-sabor-de-nuestra-tierra.000webhostapp.com/Images-Parqueadero/icono.png"
        type="image">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>PARQUEADERO</title>
</head>

<body class=" bg-fixed bg-cover bg-center bg-no-repeat h-768 w-full  lg:p-8"
    style="background-image: url('https://el-sabor-de-nuestra-tierra.000webhostapp.com/Images-Parqueadero/spot-parking-1-1024x768.jpg')">


    <div id="componentes">
        
        <div class="grid grid-cols-5 ">
            <p class="text-2xl  border-2 border-gray-900  transition duration-200 mx-5 px-10 py-4  font-normal text-sm rounded-lg text-black hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset  inline-block ml-1" style="font-size: 25pt; color: rgb(8, 8, 1);">Bienvenid@ {{usuario}} </p>
            <button v-if="opcT" class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200  "
                style="color: rgb(13, 92, 238); font-family: 'arial', Times, serif;
                   font-size: 20pt;  border-color: chartreuse;" @click="mostrar=1">TARIFAS</button>

            <button v-if ="opcL" class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
            style="color: rgb(13, 92, 238); font-family: 'arial', Times, serif;
            font-size: 20pt;  border-color: chartreuse;" @click="mostrar=2">
            INGRESAR</button>   

            <button v-if ="opcR" class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
                style="color: rgb(13, 92, 238); font-family: 'arial', Times, serif;
                   font-size: 20pt;  border-color: chartreuse;" @click="mostrar=3">
                REGISTRO</button>

                <button v-if ="opcLu" class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
                style="color: rgb(13, 92, 238); font-family: 'arial', Times, serif;
           font-size: 20pt;  border-color: chartreuse;" @click="mostrar=4">
                LUGARES</button>

                <button v-if ="opcF" class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
                style="color: rgb(13, 92, 238); font-family: 'arial', Times, serif;
           font-size: 20pt;  border-color: chartreuse;" @click="mostrar=5">
                FACTURA</button>

                <button v-if ="opcC" class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
                style="color: rgb(13, 92, 238); font-family: 'arial', Times, serif;
           font-size: 20pt;  border-color: chartreuse;" @click="mostrar=6">PARQUEA</button>

                <button v-if ="opcC" class="border-4 border-gray-900  transition duration-200 mb-3 mx-5 px-10 py-4 cursor-pointer font-normal text-sm rounded-lg text-black hover:bg-green-200 "
                style="color: rgb(13, 92, 238); font-family: 'arial', Times, serif;
           font-size: 20pt;  border-color: chartreuse;" @click="terminarSesion()">
                SALIR</button>
        </div>


        <tarifa v-if="mostrar==1"></tarifa> 
        <login v-if="mostrar==2"></login>
        <registro v-if="mostrar==3"></registro>
        <lugares v-if="mostrar==4"></lugares>
        <factura v-if="mostrar==5"></factura>
        <parqueadero v-if="mostrar==6"></parqueadero>

    </div>

    <!--
        <div class="grid grid-cols-2 ">
        <div>
            1

        </div>
        <div>
            2
            <button @click.prevent="asignarLugar()" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >
                Ocupar lugar
            </button>

        </div>
    </div>
    -->
    
    




</body>



<script src="../js/vue.js"></script>
<!-- <script src="../HTML/factura.js"></script> -->
<script src="../js/components.js"></script>

<script src="../js/sweetalert2@11"></script>

</html>